html {
  overflow-x: scroll;
  overflow-y: scroll;
}


body {
  background-color: #eeeeee ; /* materialize grey lighten-3 */
}


.b8k-spacer {
  height: 30px;
}


.b8k-not-bold {
  font-weight: inherit !important;
}