html {
  overflow-x: scroll;
  overflow-y: scroll;
}

body {
  background: #f0f0f0 !important;
}

.b8k-vertical-spacer {
  height: 40px;
}

.b8k-top-margin {
  margin-top: 1.5em !important;
}

.b8k-no-top-margin {
  margin-top: 0px !important;
}