<template name="select_field_T">

  <div class="{{#if isEditModeGH}}{{requiredH}}{{/if}} field">
    <label id="label__{{dataFieldName}}" for="{{dataFieldName}}">{{labelH}}</label>
    <div id="dropdown__{{dataFieldName}}" class="ui fluid search selection {{disabledH}} dropdown">
      <input id="{{dataFieldName}}" type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">{{defaultText}}</div>
      <div class="menu">
        {{#each items}}
          <div class="item" data-value="{{_id}}">{{nazwa}}</div>
        {{/each}}
      </div>
    </div>
  </div>

</template>