<template name="application_menu_T">

  <nav class="grey darken-3">
    <div class="nav-wrapper">
      <div class="container">

        <ul class="left">
          <li><a id="item-forms" href=""><i class="material-icons left">note_add</i>Formularze</a></li>
          <li><a id="item-archive" href=""><i class="material-icons left">folder</i>Archiwum</a></li>
          <li><a id="item-clients" href=""><i class="material-icons left">business</i>Klienci</a></li>
        </ul>

        <ul class="right">
          {{#if isDirtyGH}}
            <li><a><i class="material-icons yellow-text">edit</i></a></li>
          {{/if}}
          <li><a href="" id="dropdown-button-settings" class="dropdown-button" data-activates="dropdown-settings"><i class="material-icons">settings_applications</i></a></li>
          <li><a href="" id="dropdown-button-user" class="dropdown-button" data-activates="dropdown-user"><i class="material-icons">account_box</i></a></li>
        </ul>

        <ul id="dropdown-settings" class="dropdown-content grey darken-3">
          <li><a id="item-manufacturers" href="" class="white-text">Producenci urządzeń</a></li>
          <li><a id="item-models" href="" class="white-text">Modele urządzeń</a></li>
        </ul>

        <ul id="dropdown-user" class="dropdown-content grey darken-3">
          <li><a id="item-logout" href="" class="white-text">Wyloguj się</a></li>
        </ul>

      </div>
    </div>
  </nav>

  {{> modal_delete_T}} {{> modal_delete_error_T}}

</template>