<template name="application_menu_T">

  <div class="ui top {{connectionStatusIndicatorH}} inverted menu b8k-no-top-margin">
    <div class="ui container">

      <a id="item-forms" class="item">
        <i class="file text icon"></i>Formularze
      </a>
      <a id="item-archive" class="item">
        <i class="archive icon"></i>Archiwum
      </a>
      <a id="item-clients" class="item">
        <i class="address book icon"></i>Klienci
      </a>

      <div class="right menu">
        <div id="dropdown__button-settings" class="ui simple dropdown item">
          <i class="setting icon"></i>
          <div class="menu">
            <div id="item-manufacturers" class="item">Producenci urządzeń</div>
            <div id="item-models" class="item">Modele urządzeń</div>
            <div class="divider"></div>
            <div id="item-shops" class="item">Serwisy</div>
            <div id="item-employees" class="item">Serwisanci</div>
            <div class="divider"></div>
            <div id="item-offices" class="item">Urzędy skarbowe</div>
          </div>
        </div>
        <div id="dropdown__button-user" class="ui simple dropdown item">
          <i class="user icon"></i>
          <div class="menu">
            <div id="item-logout" class="item">Wyloguj się</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {{> modal_dirty_T }} {{> modal_delete_T}} {{> modal_delete_error_T}} {{> modal_save_error_T }}

</template>