<template name="modal_delete_T">

  <div id="modal-delete" class="ui small modal">

    <div class="header">Usuń</div>

    <div class="image content">
      <div class="description">
        <p>Usuwanie jest operacją nieodwracalną - czy chcesz trwale usunąć wybrany element?</p>
      </div>
    </div>

    <div class="actions">
      <div class="ui cancel secondary button">
        <i class="remove icon"></i>Nie usuwaj
      </div>
      <div class="ui ok secondary button">
        <i class="checkmark icon"></i>Usuń
      </div>
    </div>

  </div>

</template>