<template name="modal_dirty_T">

  <div id="modal-dirty" class="ui modal">

    <div class="header">Operacja anulowana</div>

    <div class="image content">
      <div class="description">
        <p>Operacja została anulowana, ponieważ w formularzu znajdują się niezapisane dane. Wykonanie tej operacji spowodowało
          by ich utratę.</p>
      </div>
    </div>

    <div class="actions">
      <div class="ui cancel secondary button">
        <i class="checkmark icon"></i>OK
      </div>
    </div>

  </div>

</template>