<template name="modal_delete_T">

  <div id="modal-delete" class="modal">
    <div class="modal-content">
      <h4>Usuń</h4>
      <p>Usuwanie jest operacją nieodwracalną - czy chcesz trwale usunąć wybrany element?</p>
    </div>
    <div class="modal-footer">
      <a id="button-delete-dismiss" href="" class="modal-action modal-close waves-effect btn grey darken-3">nie usuwaj</a>
      <a id="button-delete-confirm" href="" class="btn waves-effect btn red">usuń</a>
    </div>
  </div>

</template>