<template name="modal_delete_error_T">

  <div id="modal-delete-error" class="ui small modal">

    <div class="header">Błąd usuwania</div>

    <div class="image content">
      <div class="description">
        <p>Usunięcie danego elementu nie jest możliwe, ponieważ odnoszą się do niego inne elementy bazy danych.</p>
      </div>
    </div>

    <div class="actions">
      <div class="ui cancel secondary button">
        <i class="checkmark icon"></i>OK
      </div>
    </div>

  </div>

</template>